<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS Template Engine</title>
</head>
<body>
    {{!-- this is a comment --}}
    <h1>{{msg}}</h1>
    <h1>{{validated}}</h1>
    {{{pic}}}

    <hr>

    <h2>Name: {{user.name}} & Age: {{user.age}}</h2>

    <hr>

    {{#each members}}
    {{#if this.active}}
    <h3>Name: {{this.name}} | Age: {{this.age}}</h3>
    {{/if}}
    {{/each}}

    <hr>

    {{#each members}}
    {{#unless this.active}}
    <h4>Name: {{this.name}} | Age: {{this.age}}</h4>
    {{/unless}}
    {{/each}}
</body>
</html>